$font-logo: 'New Tegomin', cursive;

@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";
@import "./_breakpoint";
@import "./_reset";

.logo {
  font-family: $font-logo;
  color: $white;
  font-size: 1.5rem;
}
.pagebanner {
  padding: 11rem 0 8rem;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  text-align: center;
  color: $white;
  h2{
    display:inline-block;
    margin-bottom:0;
    padding:1rem 5rem;
    background-color:rgba(52,58,64,.8);
    border-radius:.25rem;
    font-size:1.5rem
  }
}

// checkorder order 頁面

.checkorder {
  padding: 2rem 1rem;
  @include desktop {
  padding: 3rem 7rem
  }
}

.step-wrap {
	background-color: $dark;
}

.step {
	display: flex;
	justify-content: center;
  margin-bottom: 2rem;
  @include desktop {
    margin-bottom: 3.5rem;
  }
}

.step-item {
	display: none;
	position: relative;
	padding: 1rem 2rem;
	background-color: $light;
	border: 2px solid $muted;
	border-radius: .25rem;
  text-align: center;
  @include pad {
    display: block;
	  margin-left: 10rem
  }
  &:after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 25rem;
    height: .5rem;
    background-color: $light;
    border: 1px solid $muted;
    z-index: -2;
    @include pad {
      display: block;
    }
  }
  &:first-child {
    margin-left: 0;
    &:after {
      display: none;
    }
  }
  &.active {
    background-color: $dark;
    border: 2px solid $dark;
    color: $light;
    &:after {
      background-color: $dark;
	    border: 1px solid $dark;
    }
  }
}

.step-active {
  display: block;
}

.checkorder-title {
	margin-bottom: 0;
	padding: .75rem 1.5rem;
	background-color: $dark;
	color: $white;
	font-size: 1rem;
	font-weight: 400
}

// counter

.counter {
  display: flex;
  max-width: 10rem;
  margin: 0 auto 1rem;
  @include mobile {
    margin-bottom: 0;
  }
}

.counter-input {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid $dark;
  border-radius: 0;
  text-align: center;
  outline: none;
  cursor: context-menu;
}

.addNum, .lessNum {
  padding: 0.4rem 0.75rem;
  border: 1px solid $dark;
  color: $dark;
  &:hover, &:focus {
    color: $white;
    background-color: darken($dark, 10%);
  }
}

.lessNum {
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
}

.addNum {
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
}

//favorite-icon

.favorite-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: .25rem 1rem;
  transition: all .3s ease;
  color: $danger;
  font-size: 1.75rem;
  &:hover {
    transform: scale(1.2);
    color: $danger;
  }
}

.favorite-icon-lg {
  font-size: 2rem;
}

// swiper pagination 設定

.swiper-container{
  --swiper-theme-color: $dark;
  --swiper-navigation-size: 1.5rem;
}

// 更改 vue-sweetalert2 預設樣式

.swal2-toast {
  min-width: 15rem;
}

.swal2-modal {
  padding: 2rem;
}

// 自訂 vue-sweetalert2 樣式

.swal-title {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 4px solid $dark;
}

.swal-title-secondary {
  border-bottom: 4px solid $secondary;
}

.swal-title-success {
  border-bottom: 4px solid $success;
}

.swal-title-info {
  border-bottom: 4px solid $info;
}

.swal-title-danger {
  border-bottom: 4px solid $danger;
}

.swal-success {
  background-color: $success;
}